---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy un desarrollador con experiencia creando funcionalidad de sistemas,
    microservicios, diseño de soluciones y mantenimiento. Busco nuevos retos
    de programación y poder ser parte de proyectos que ayuden a la gente a
    mejorar sus vidas con la ayuda de la tecnología
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Técnico en Informática"
      subtitle="2008 a 2011 en CONALEP Tlalpan 1, CDMX, México"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Backend Developer en Montebit"
      subtitle="Desde Abril 2023"
    >
      Mejoras en el código fuente. Creación de unit test para mejorar el coverage del
      proyecto. Implementación de nuevas herramientas para la mejora del código
    </TimeLineElement>
    <TimeLineElement
      title="Backend Engineer en Fondeadora"
      subtitle="De Mayo 2021 a Marzo 2023"
    >
      Programaba nuevos features para la plataforma con Python y diferentes librerías.
      En la infraestructura use varias herramientas de AWS: Lambda, EC2, ECS,
      CloudWatch, etc. Uso Go para la programación de un CLI para herramientas
      internas.
    </TimeLineElement>
    <TimeLineElement
      title="Fullstack Developer en BlumonPay"
      subtitle="De Junio 2020 a Mayo 2021"
    >
      Crear y diseñas nueva funcionalidad para el software principal de la compañía
      resolviendo las solicitudes del Product Owner. Trabajo en el frontend con
      Thymeleaft, Vue JS y otras librerías JS y en el backend, que está dividido en
      diferentes microservicios, uso Java 8, Spring Boot, Spring MVC, Maven, JPA con
      Hibernate y Lombok project.
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Developer"
      subtitle="De Agosto 2020 a Mayo 2021"
    >
      Desarrollo herramientas y programas que me solicite el cliente. Para estos mi
      stack es Golang, MySQL, VueJS y, si la situación lo amerita, MongoDB, Docker y
      Docker-Compose. Entre lo que he desarrollado ha sido un sistema de login para el
      acceso a una página web con sesiones, un servicio de autenticación con JWT y
      una página web dinámica.
    </TimeLineElement>
    <TimeLineElement
      title="Java Jr. Developer en Prospectiva"
      subtitle="De Octubre 2019 a Marzo 2020"
    >
      Diseño soluciones para los clientes de la empresa en sus portales de facturación
      Desde base de datos a frontend, buscamos la satisfacción del cliente creando una
      interfaz fácil de usar. Uso Java 7 y 8, Maven para el manejo de dependencias,
      Spring MVC, Struts para el frontend así como JSF.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      ITIL Foundation Certificate in IT Service Management
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Analizar problemas</li>
    <li>Sistema Remedy</li>
    <li>SA Service Desk</li>
    <li>Gran trato con usuarios</li>
    <li>Organizado</li>
    <li>Liderazgo</li>
    <li>Imaginación</li>
    <li>Creatividad</li>
    <li>Solucionar problemas</li>
    <li>Autodidacta</li>
    <li>Proactivo</li>
  </ul>
</BaseLayout>
